.container {
  background-color: #212529;
  height: 100vh;
}

.header {
  height: 62px;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: #051923;
  align-items: center;
}

.headerTitle {
  color: #ffffff;
  font-size: 15px;
  margin-left: 10px;
}

.addContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.card {
  width: 125px;
  height: 60px;
  background-color: #051923;
  border-radius: 15px;
  margin-top: 10px;
}

.card:hover {
  cursor: pointer;
  background-color: #051920;
}

.cardImg {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin: 5px 0px 5px 10px;
}

.latestEntriesContainer {
  height: 100vh;
  background-color: #051923;
  margin-top: 5%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #ffffff;
  font-size: 18px;
  margin: 10px 0px 0px 10px;
}

.img {
  width: 40px;
  height: 40px;
  margin: 10px 10px 0px 0px;
}

.img:hover {
  cursor: pointer;
}
