.container {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #212529;
  width: 100vw;
  height: 10vh;
}

.imgContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  align-items: center;
  border-top: 1px solid #4a535b;
}

.img {
  width: 40px;
  height: 40px;
}

.img:hover {
  cursor: pointer;
}

.biggerImg {
  width: 50px;
  height: 50px;
}

.biggerImg:hover {
  cursor: pointer;
}
