.container {
    display: flex;
    background-image: linear-gradient(#051923, #00A6FB);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.secondaryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    color: #ffffff;
    margin-top: 30px;
}

.instructionTxt {
    color: #ffffff;
    margin: 50px 0px 50px 0px;
}

.txtInput {
    width: 335px;
    height: 40px;
    background-color: #212529;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding-left: 40px;
    color: #ffffff;
}

.icon {
    position: absolute;
    left: 5px;
    top: 5px;
}

.btnRecovery {
    display: flex;
    width: 335px;
    height: 44px;
    background-color: #003554;
    border: 1px solid #ffffff;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.btnRecovery:hover {
    cursor: pointer;
}

.btnRecoveryText {
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0px;
}
