.headerContainer {
  display: flex;
  justify-content: center;
}

.headerTitle {
  flex: 1;
  color: #ffffff;
  text-align: center;
}

.img {
  margin-left: 10px;
}

.img:hover {
  cursor: pointer;
}
