.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #4a535b;
}

.headerTitle {
  flex: 1;
  color: #ffffff;
  text-align: center;
}

.img {
  margin: 0px 10px 0px 10px;
  width: 40px;
  height: 40px;
}

.img:hover {
  cursor: pointer;
}
