.container {
  background-color: #212529;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  height: 62px;
  background-color: #051923;
  align-items: center;
}

.secondaryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #212529;
}

.txtInput {
  background-color: #051923;
  border-radius: 10px;
  width: 335px;
  height: 40px;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding-left: 20px;
  margin-bottom: 20px;
}

.text {
  color: #ffffff;
  font-size: 30px;
}

.btn {
  text-align: center;
  height: 35px;
  background-color: #2346fa;
  color: #ffffff;
  border-radius: 35px;
  border: 1px solid #ffffff;
  margin-top: 2vh;
}

.btn:hover {
  cursor: pointer;
}

.btnStyle {
  font-size: 23px;
}

.img {
  position: absolute;
  width: 29px;
  height: 29px;
  right: 1px;
  top: 5px;
}
