.container {
    display: flex;
    background-image: linear-gradient(#051923, #00A6FB);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.secondaryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    color: #ffffff;
    margin: 100px 0px 100px 0px;
}

.btnBackToLogin {
    display: flex;
    background-color: #003554;
    width: 201px;
    height: 44px;
    border: 1px solid #ffffff;
    border-radius: 35px;
    justify-content: center;
    align-items: center;

}

.btnBackToLogin:hover {
    cursor: pointer;
}

.btnBackToLoginText {
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0px;
}
