.container {
    display: flex;
    background-image: linear-gradient(#051923, #00A6FB);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.secondaryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #ffffff;
    margin-bottom: 40px;
}

.txtInput {
    background-color: #212529;
    width: 335px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding-left: 40px;
    color: #ffffff;
    margin-bottom: 45px;
}

.icon {
    position: absolute;
    left: 5px;
    top: 5px;
}

.icon2 {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
}

.icon2:hover {
    cursor: pointer;
}

.btnConfirm {
    display: flex;
    background-color: #003554;
    width: 201px;
    height: 44px;
    border: 1px solid #ffffff;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.btnConfirm:hover{
    cursor: pointer;
}

.btnConfirmText {
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 2px;
    margin: 0px;
}
